<p-table [value]="passports">
  <ng-template pTemplate="header">
    <tr>
      <th>ID</th>
      <th>Hostname</th>
      <th>Inventary number</th>
      <th>IT Employee</th>
      <th>Department</th>
      <th>Room</th>
      <th>MAC</th>
      <th>IP Address</th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-passport>
      <tr>
        <td>{{ passport.id }}</td>
        <td>{{ passport.hostName }}</td>
        <td>{{ passport.inventaryNumber }}</td>
        <td>{{ passport.employeeName }}</td>
        <td>{{ passport.department }}</td>
        <td>{{ passport.room }}</td>
        <td>{{ passport.macAddress }}</td>
        <td>{{ passport.ipAddress }}</td>
      </tr>
  </ng-template>
</p-table>